h3 {
  color: blue;
}

.game-field {
  position: relative;
}
.game-cell {
  font-size: 3rem;
  height: 80px;
  background-color: rgb(231, 234, 252);
}
.game-cell:hover{
  background-color:rgb(209, 216, 223);
}
.win-field-cell{
  background-color: rgb(161, 240, 203);
}
.winner-title {
  color: red;
}
.tie-title {
  color: orange;
}
@keyframes game-title {
  0% {
    color: rgb(42, 42, 180);
  }
  25% {
    color: rgb(240, 65, 65);
  }
  50% {
    color: rgb(139, 56, 146) ; 
  }
  100% {
    color: rgb(187, 152, 243);
  }
}
.game-title {
  color: rgb(42, 42, 180);
  font-weight: bold;
  animation: game-title 3s linear 0s infinite alternate;
  -webkit-animation: game-title 3s linear 0s infinite alternate;
}



// .finLine::after{
//   content: "";
//   position: absolute;
//   left: 0;
//   top:0;
//   height: 100%;
//   border: 5px solid blue;
//   border-radius: 10px;
//   -webkit-border-radius: 10px;
//   -moz-border-radius: 10px;
//   -ms-border-radius: 10px;
//   -o-border-radius: 10px;
// }
